<div class="ventes">
  <div class="card">
    <div class="card-header">
      <h1>Ventes</h1>
      <input type="text" placeholder="Trouver des commandes" name="recherche" required class="form-control">
      <select id="filter" class="form-control">
        <option value="Terminer" selected>Terminer</option>
        <option value="En cours">En cours</option>
        <option value="Annuler">Annuler</option>
        <option value="Récent">Récent</option>
        <option value="Archive">Archive</option>


      </select>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>

          <th>Client</th>
          <th>Service</th>
          <th>Etat</th>
          <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of commandeservice.CommandeVent">
          <td>{{ commandeservice.CommandeVent.titre }}</td>
          <td>{{ commandeservice.CommandeVent.subtitle }}</td>

          <td>Doe</td>
          <td>Doe</td>

        </tr>
        <tr>
          <td>John</td>
          <td>john@example.com</td>

          <td>Doe</td>
          <td>Doe</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
