head { color: white;}
.navtop{
margin: 25px auto 25px auto;      }

.navtop .nav-item {
      margin: auto 20px;}

.navtop a{
       color: #151617 !important;
}


.bg-dark {
       background-color: #151617 !important;
}
.homeheader a {
       color: white;
       margin: 3px 9px;
       font-weight: 600;
       font-size: 13px !important;
}


