<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navtop navbar-light navbar-expand-sm navtop justify-content-center">
  <ul class="navbar-nav homeheader">
    <li class="nav-item">
      <a class="logo" href="#">Bricouli</a>
    </li>
    <li class="nav-item">
            <div class="input-group col-md-12">
              <input class="form-control py-2" type="search" value="Trouvez des services !" id="example-search-input" #mysearch>
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click) ='onSearch(mysearch.value)'>
                    <i class="fa fa-search"></i>
                </button>
            </span>
          </div>

    </li>
    <li class="nav-item">
      <a class="inscription" [routerLink]="[ '/inscription']" href="#">INSCRIPTION</a>
    </li>
    <li class="nav-item">
      <a class="connexion" [routerLink]="[ '/connexion']" href="#">CONNEXION</a>
    </li>
    <li class="nav-item">
      <a class="annonceur" href="#">DEVENEZ ANNONCEUR</a>
    </li>
  </ul>
</nav>


<nav class="navbar navbar-light navbar-expand-sm bg-dark justify-content-center">
  <ul class="navbar-nav homeheader">
    <li class="nav-item">
      <a class="nav-link" href="#">CLIMATISATION</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">JARDINAGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">NETTOYAGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PLOMBERIE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">PISCINE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">HYGIENE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">BRICOLAGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ELECTRICITE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">MATERIELS</a>
    </li>
  </ul>
</nav>
<br>
<router-outlet></router-outlet>
</body>
</html>
