<div class="paiement">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h1>Résumé de la commande</h1>
        </div>
        <div class="card-body">
          <h5>titre: {{ commandeservice.Onedevis.annonce.titre}}</h5>
          <h6>Délai de réalisation</h6>

        </div>
      </div>
      <div class="infopaiement">
        <p> Une fois le paiement effectué et les modérateures l'accepte, vous pourrez transmettre vos consignes de réalisation à votre vendeur, discuter, et échanger des fichiers en toute sécurité. </p>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>
            Coordonnées de facturation : {{ commandeservice.Onedevis.montant}}
          </h1>
        </div>
        <div class="card-body">
          <h5>Adresse de Livraison</h5>
          <h6></h6>
          <a>
            <button type="button" class="btn btn-success" (click)="onCommande()">Passer la commande et payer</button>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>
            Méthode de paiement
          </h1>
        </div>
        <div class="card-body">
          <p> Choisissez un moyen de paiement pour régler votre commande. </p>
          <h6></h6>

        </div>
      </div>
    </div>
    <div class="col-sm-3"></div>

  </div>
</div>
