.Profilpublic { width: 100%; margin: 0px; background-color: white;}

.Profilpublic .card-header{
    background-color: black !important;
}
.Profilpublic h1{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.208;
    color: #fff;
    font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Profilpublic .row {
    width: 100%;
}
