<div class="commande">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">
          <h1>Suivi de commande</h1>
        </div>
        <div class="card-body">
          <div class="trackingorder">
            <div class="trackingControl payer">
              <div class="step">
              </div>
              <div class="title">
                Commande payée
              </div>
              <time>
                19 juil. 2020 à 11:20
              </time>
              <div class="message">
                <p>Message</p>
              </div>
            </div>
            <div class="trackingControl content">
              <table>
                <tbody>
                <tr>
                  <td width="100%">
                    <a href="#" class="annonce-title">
                      <strong>
                        Je vais corriger un probleme sur votre site web wordpress en 24H pour 5&nbsp;€
                      </strong>
                    </a>
                  </td>
                  <td class="prix" valign="top" align="right">5,00&nbsp;€</td>
                </tr>

                <tr>
                  <td width="100%">
                    <strong>
                      Total TTC
                    </strong>
                  </td>
                  <td class="prix-total" valign="top" align="right">
                    <strong>
                      6,87&nbsp;€
                    </strong>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="trackingControl livrer">
              <div class="step">
              </div>
              <div class="title">
                Commande payée
              </div>
              <time>
                19 juil. 2020 à 11:20
              </time>
              <div class="message">
                <p>Message</p>
              </div>
            </div>
            <div class="trackingControl terminer">
              <div class="step">
              </div>
              <div class="title">
                Commande payée
              </div>
              <time>
                19 juil. 2020 à 11:20
              </time>
              <div class="message">
                <p>Message</p>
                <div class="avis"></div>
              </div>
            </div>
            <div class="trackingControl annuler">
              <div class="step">
              </div>
              <div class="title">
                Commande payée
              </div>
              <time>
                19 juil. 2020 à 11:20
              </time>
              <div class="message">
                <p>Message</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <app-message></app-message>
    </div>
    <div class="col-sm-1">tzz</div>

  </div>
</div>
