<div class="devis">
  <div class="card" *ngIf="commandeservice.listDevisvent"
  >
    <div class="card-header">
      <h1>Devis</h1>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>

          <th>Date</th>
          <th></th>
          <th>Montant</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of commandeservice.listDevisvent">
          <td>{{d.date}}</td>
          <td>{{d.montant}}</td>

          <td>Doe</td>
          <td>Doe</td>

        </tr>
        <tr>
          <td>John</td>
          <td>john@example.com</td>

          <td>Doe</td>
          <td>Doe</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
