<div class="tboard">
  <div class="card">
    <div class="card-header">
      <h1>Tableau de Board</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3 card1">
          <div class="icon"></div>
          <div class="title">Revenus en cours</div>
          <div class="number">&nbsp;€</div>
          <div class="total">&nbsp;€ au total</div>
        </div>
        <div class="col-sm-3 card2">
          <div class="icon"></div>
          <div class="title">Ventes en cours</div>
          <div class="number">€</div>
          <div class="total">€ au total</div>
        </div>
        <div class="col-sm-3 card3">
          <div class="icon"></div>
          <div class="title">Avis positifs</div>
          <div class="number">&nbsp;€</div>
          <div class="total">&nbsp;Avis négatif</div>
        </div>

      </div>
    </div>

  </div>
</div>
