<div class="demandedevis">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h1>Demander un devis</h1>
        </div>
        <div class="card-body">
          <h6>Demander un devis pour: </h6>
          <div class="annoncebox">
            <div class="col-sm-2 image">
              <img src="{{'data:image/jpg;base64,' + annonceservice.Oneannonce.image.data}}" width="120px" height="80px">
            </div>
            <div class="titre">
              <h5>{{ annonceservice.Oneannonce.titre }}</h5>
            </div>
            <div class="categorie">
              <p>{{ annonceservice.Oneannonce.categorie }}</p>
            </div>
            <div class="annonceur">
              <p>Par : <b>{{ annonceservice.Oneannonce.annonceur.designation }}</b></p>
            </div>
          </div>
          <br>
          <br>
          <br>

          <div class="row">
            <hr>
            <div class="col-sm-12">

              <form #DevisForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="titre">Adresse de livraison</h5>
                    <p>Adresse de Livraison: Indiquez le lieu d'intervention</p>
                    <input id="message" name="message" [(ngModel)]="DevisModel.adresse" #message="ngModel" type="text" maxlength="80" class="form-control">
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="titre">Message</h5>
                    <p>Consigne et informations</p>
                     <textarea id="adresse" name="adresse" [(ngModel)]="DevisModel.message" #date="ngModel" cols="50" rows="4" type="text" maxlength="2000" class="form-control">
                    </textarea>
                  </div>
                </div>
                <br>
                <br>
                  <div class="row">
                    <div class="col-sm-12">
                      <h5 class="titre">Date :</h5>
                      <p> A partir de : Indiquez la date convenable pour commencer la commande. </p>
                      <input type="date" [(ngModel)]="DevisModel.date" id="date" name="date" #date="ngModel" min="2021-01-12" max="2021-12-31" step="1" class="form-control">
                    </div>
                  </div>

                <div class="form-group">
                  <button class="btn btn-primary" style="margin-top: 30px">Envoyer la demande</button>
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-sm-3"></div>

  </div>
</div>
