.portfeuille { width: 100%; margin: 0px; background-color: white;}

.portfeuille .card-header{
    background-color: black !important;
    height: 80px !important;
}
.portfeuille h1{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.208;
    color: #fff;
    font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 14px;
    margin-left: 20px;
}

.col1, .col2, .col3 {
background-color: gainsboro;
padding: 10px 20px;
}
