<div class="portfeuille">
  <div class="card">
    <div class="card-header">
      <h1>Portfeuille</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-9 col1">
          <div class="row">
            <div class="col-sm-6">
              <div class="paiementsencours">
                <p>  Paiements à venir 0.00 € </p>
                <p> Total des revenus de vos commandes en cours. </p>
                <p> Voir le détail </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="revenusdepense">
                <p>Revenus dépensés 60.00 €</p>
                <p> Total des revenus que vous avez dépensés sur le site. </p>
                <p> Voir le détail </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6"><div class="revenusdepense">
              <p> Revenus retirés 1000.00 € </p>
              <p> Total des revenus que vous avez déjà collecté. </p>
              <p> Voir le détail </p>
            </div>
            </div>
            <div class="col-sm-6"></div>
          </div>


        </div>
        <div class="col-sm-3 col2">
          <div class="demandederatrait">
            <p> Retirez vos revenus </p>
            <p> 5.00 € disponible </p>
            <p> faire une demande de retrait </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
