<div class="inscription">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="box">
        <div class="logo">
          <h3>INSCRIPTION</h3>
          <p>  Afin de confirmer votre inscription, veuillez indiquer votre adresse e-mail. Choisissez également un nom d’utilisateur, qui vous permettra de vous connecter et sera affiché sur vos achats et ventes.  </p>
        </div>
        <div class="formulaire">
          <form #annonceForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input id="nom" type="text" name="nom" [(ngModel)]="UserModel.nom" #nom="ngModel" placeholder="Nom" required class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input id="prenom" type="text" name="prenom" [(ngModel)]="UserModel.prenom" #prenom="ngModel" placeholder="Prénom" required class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input id="emailc" type="email" name="emailc"  placeholder="Email" required class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input id="email" type="email" name="email" [(ngModel)]="UserModel.email" #email="ngModel" placeholder="Confirmation" required class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input id="passe" type="password" name="passe" placeholder="Mot de passe" required  class="form-control">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input id="passec" type="password" name="passec" [(ngModel)]="UserModel.passe" #email="ngModel" placeholder="Confirmation" required class="form-control">
                    </div>
                  </div>
                </div>
                <p>  À titre d’information uniquement et afin de vous accueillir au mieux, indiquez-nous la raison principale de votre inscription. Vous n’aurez pas besoin de créer un autre compte si vous souhaitez passer d’une activité à l’autre. </p>



                <div class="form-group">
                  <button class="btn btn-primary" style="margin-top: 30px">Valider mon inscription</button>
                </div>

              </div>



              <!-- Side bare Form N 2 -->




            </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
