<div class="dashboard">
  <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a routerLink="/dashboard/board" routerLinkActive="active">Tableau de bord</a></li>
          <li class="list-group-item"><a routerLink="/dashboard/annonces" routerLinkActive="active">Annonces</a></li>
          <li class="list-group-item"><a routerLink="/dashboard/ventes">Ventes</a></li>
          <li class="list-group-item"><a routerLink="/ventes/portfeuille">Portfeuille</a></li>
          <li class="list-group-item"><a routerLink="/ventes/factures">Factures</a></li>
          <li class="list-group-item"><a routerLink="/ventes/devis">Devis</a></li>
          <li class="list-group-item"><a routerLink="/parametres/mon-profil">Mon Profil Public</a></li>
          <li class="list-group-item"><a routerLink="/parametres/mes-coordonnees">Mes Coordonnées</a></li>
          <li class="list-group-item"><a routerLink="/parametres/retrait">Méthodes de retrait</a></li>
          <li class="list-group-item"><a routerLink="/dashboard/achats">Achats</a></li>
          <li class="list-group-item"><a routerLink="/achats/devis">Devis</a></li>
          <li class="list-group-item"><a routerLink="/achats/factures">Factures</a></li>

        </ul>
      </div>

    </div>
    <div class="col-sm-7 content">
      <app-annonces *ngIf="isAnnoncesRoute()"></app-annonces>
      <app-devis *ngIf="isDevisRoute()"></app-devis>
      <app-factures *ngIf="isFactureesRoute()"></app-factures>
      <app-mescoordonnes *ngIf="isMescordRoute()"></app-mescoordonnes>
      <app-monprofilpublic *ngIf="isPPublicRoute()"></app-monprofilpublic>
      <app-portfeuille *ngIf="isPortfeuilleRoute()"></app-portfeuille>
      <app-retrait *ngIf="isRetraitRoute()"></app-retrait>
      <app-tboard *ngIf="isTableauBoardRoute()"></app-tboard>
      <app-ventes *ngIf="isVentesRoute()"></app-ventes>
      <app-achatfactures *ngIf="isAchatsFacturesRoute()"></app-achatfactures>
      <app-achats *ngIf="isAchatsRoute()"></app-achats>
      <app-achatdevis *ngIf="isAchatsDevisRoute()"></app-achatdevis>


    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
