<div class="dashboard">
  <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="listventes">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/dashboard/board" routerLinkActive="active">Tableau de bord</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/dashboard/annonces" routerLinkActive="active">Annonces</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/dashboard/ventes" routerLinkActive="active">Ventes</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/ventes/portfeuille" routerLinkActive="active">Portfeuille</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/ventes/factures" routerLinkActive="active">Factures</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/ventes/devis" routerLinkActive="active">Devis</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/parametres/mon-profil" routerLinkActive="active">Mon Profil Public</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/parametres/mes-coordonnees" routerLinkActive="active">Mes Coordonnées</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/parametres/retrait" routerLinkActive="active">Méthodes de retrait</a></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h1>Achats</h1>
        </div>
        <div class="listventes">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/dashboard/achats" routerLinkActive="active">Achats</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/achats/devis" routerLinkActive="active">Devis</a></li>
            <li class="list-group-item" routerLinkActive="active"><a routerLink="/achats/factures" routerLinkActive="active">Factures</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-sm-7 content">
      <app-annonces *ngIf="isAnnoncesRoute()"></app-annonces>
      <app-devis *ngIf="isDevisRoute()"></app-devis>
      <app-factures *ngIf="isFactureesRoute()"></app-factures>
      <app-mescoordonnes *ngIf="isMescordRoute()"></app-mescoordonnes>
      <app-monprofilpublic *ngIf="isPPublicRoute()"></app-monprofilpublic>
      <app-portfeuille *ngIf="isPortfeuilleRoute()"></app-portfeuille>
      <app-retrait *ngIf="isRetraitRoute()"></app-retrait>
      <app-tboard *ngIf="isTableauBoardRoute()"></app-tboard>
      <app-ventes *ngIf="isVentesRoute()"></app-ventes>
      <app-achatfactures *ngIf="isAchatsFacturesRoute()"></app-achatfactures>
      <app-achats *ngIf="isAchatsRoute()"></app-achats>
      <app-achatdevis *ngIf="isAchatsDevisRoute()"></app-achatdevis>


    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
