.dashboard {
      background-color: #f8f8fa;
      margin-top: -24px;
      padding-bottom: 50px;
}
.dashboard .row {
      width: 100%;
      }
.dashboard .card {
      background-color: white;
      margin-top: 50px;
      width: 90%;
      }
.dashboard a:active {
color: black;
}
.content {
      margin-top: 50px;
      width: 100%;
}
.list-group-item {
      height: 49px;
      font-size: 15px;
      font-weight: 600;
}

.list-group-item.active.a {
color: white !important;}


.dashboard .card-header{
    background-color: black !important;
}

.dashboard .card-header h1{
padding: 6px 0px 0px 0px;
color: white;
font-size: 20px;
font-weight: 600;
}

.list-group-item.active {
background-color: #1b82f0 !important;
}
a.active{
color: white;
font-size: 15px;}

a:hover {
text-decoration: none;
}
