<div class="achats">
  <div class="card">
    <div class="card-header">
      <h1>Achats</h1>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Vendeur</th>
          <th>Service</th>
          <th>Etat</th>
          <th>Montant</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of commandeservice.CommandeAchat">
          <td>{{ commandeservice.CommandeVent.titre }}</td>
          <td>{{ commandeservice.CommandeVent.subtitle }}</td>
          <td>Doe</td>
          <td>Doe</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
