<div class="annonces">
  <div class="card">
    <div class="card-header">
      <h1>Annonces</h1>
      <a [routerLink]="[ '/ventes/creation-de-service']">Nouveau service</a>

    </div>
    <div class="card-body">
      <div class="annoncev">
        <div class="level">
          <h6> Annonces Validés </h6>
        </div>
        <div class="listv" *ngIf="annonceservice.listAnnonceuser">
          <div class="card" *ngFor="let a of annonceservice.listAnnonces">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2 image"><img src="{{'data:image/jpg;base64,' + a.image.data}}" width="120px" height="80px">
                </div>
                <div class="col-sm-5 titreser">
                  <a [routerLink]="[ '/annonce/type',a.idAnnonce,'path' ]">
                    <h6> {{ a.titre }} </h6>
                  </a>
                </div>
                <div class="col-sm-2">{{ a.categorie }}</div>

          </div>
        </div>
      </div>
      <div class="annoncenv">
        <div class="level">
          <h6> Annonces Non Validés </h6>
        </div>
        <div class="listnv">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2 image">
                  <img src="{{'data:image/jpg;base64,' + a.image.data}}" width="120px" height="80px">
                </div>
                <div class="col-sm-7" titreserv>


                </div>
                <div class="col-sm-3">buttons</div>
              </div>
            </div>
          </div>
        </div>
      </div></div>

      </div>
    </div>
  </div>
</div>
