<div class="annonces">
  <div class="card">
    <div class="card-header">
      <h1>Annonces</h1>
    </div>
    <div class="card-body">
      <div class="annoncev">
        <div class="level">
          <h6> Annonces Validés </h6>
        </div>
        <div class="listv">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2"><img src="img_girl.jpg" width="80px" height="40px">
                </div>
                <div class="col-sm-7"><h6>ici le titre </h6></div>
                <div class="col-sm-3">buttons</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="annoncenv">
        <div class="level">
          <h6> Annonces Non Validés </h6>
        </div>
        <div class="listnv">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2"><img src="img_girl.jpg" width="100px" height="50px">
                </div>
                <div class="col-sm-7"><h6>ici le titre </h6></div>
                <div class="col-sm-3">buttons</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
