.mescoordonees { width: 100%; margin: 0px; background-color: white;}

.mescoordonees .card-header{
    background-color: black !important;
    height: 80px !important;
}
.mescoordonees h1{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.208;
    color: #fff;
    font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 15px;
    margin-left: 20px;
}

.mescoordonees p {
margin: 5px 5px 20px 20px;
}

.mescoordonees .card-header a {
      float: right;
       margin-right: 25px;
       color: black;
       text-decoration: none;
       margin-top: -31px;
       background-color: white;
       padding: 8px 14px;
       cursor: pointer;
}

.labels {
float: right;
}

